body {
    margin: 40px auto;
    max-width: 900px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.2
}

code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 80%;
  padding: 5px;
}

.notice {
  color: orangered;
  font-weight: bold;
}

pre code {
  border: 1px solid rgb(100, 100, 100);
  display: block;
  padding-left: 10px;
  width:fit-content;
}

.block label {
    display: inline-block;
    width: 50px;
    text-align: left;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
}